body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper .fa-bars{
  font-size:25px;
}

footer{
  margin-top:20px;
}

.story-text{
  height:120px;
}

.dash-status{
  text-transform: capitalize;
}

#delete-form{
  display:inline;
}
.blue-almighty{
  color:#0C7CFE;
  background: #0C7CFE;
}
.btn{
  background-color: #0c7cfe !important;
}
.sizzle-red{
  background-color: #FE3959 !important;
}